:root {
 --main-backround: #22232D;
 --primary-text-color: #FFFFFF;
 --secondary-text-color: #F8EF00;
 --popup-background: rgba(10, 10, 10, 0.28);
 --modal-auth-fill: #1F2933;
 --modal-auth-outline: rgba(10, 175, 188, 0.52);
 --modal-auth-decore: #00F0FF;
 --auth-input-placeholder: #00F0FF;
 --auth-input-border: #25797E;
 --auth-input-border-error: #FF0000;
 --auth-button-color: #25797E;
 --auth-button-fill: #1A4753;
 --auth-button-outline: #25797E;
 --project-card-background: #272934;
 --main-yellow: #F8EF00;
}