.input {
  max-width: 465px;
  width: 100%;
  text-align: center;
  background: transparent;
  padding: 7px;
  color: var(--auth-input-placeholder);
  border-bottom: 3px solid var(--auth-input-border);

  &::placeholder {
    color: var(--auth-input-placeholder);
    font-size: 24px;
    line-height: 28.8px;
  }

  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}

.active {
  border-bottom: 3px solid var(--auth-input-border-error);
  &::placeholder {
    color: var(--auth-input-border-error);
  }
}